template_debugging
template
profiler_test
lab_00
**/*.vs
**/Debug
**/**/Debug
**/**/*.vcxproj
**/**/*.vcxproj.filters
**/**/*.vcxproj.user
**/*.sln
**/**/*.vcxproj.filters
**/x64
**/Release
**/*.hint
**/**/*.html
**/Profiler
**/**/*.rar
**/.pdf
**/**/.pdf
**/.ini
testing_debugging/